/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background-color: #FFF7EF;
  font-family: "Roboto", "M PLUS 1p", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
}

.l-header {
  grid-row: 1;
  grid-column: 1/2;
  top: 0;
  right: 0;
  width: 100%;
  height: 215px;
  background-color: #FFF7EF;
}
@media (min-width: 768px) {
  .l-header {
    height: 217px;
  }
}
@media (min-width: 1300px) {
  .l-header {
    grid-row: 1;
    grid-column: 1;
  }
}

.l-main {
  grid-row: 2/3;
  grid-column: 1;
  position: relative;
}

.l-sidebar {
  grid-row: 1/4;
  grid-column: 2/1;
  position: relative;
  margin-left: auto;
  width: 87vw;
  right: -87vw;
  opacity: 0;
  transition: right 0.5s ease-out, opacity 0.5s ease-in;
  background-color: #F2EDE9;
}
@media (min-width: 768px) {
  .l-sidebar {
    width: 44vw;
    right: -44vw;
  }
}
@media (min-width: 1300px) {
  .l-sidebar {
    right: 0;
    transition: none;
    display: block;
    transform: translateX(0);
    grid-row: 1/3;
    grid-column: 2;
    width: 100%;
    z-index: 0;
    opacity: 1;
  }
}

.l-sidebar.is-active {
  right: 0;
  opacity: 1;
  z-index: 10;
  display: block;
  overflow: hidden;
}

.l-footer {
  grid-row: 3;
  grid-column: 1/3;
  margin: 0;
}

.c-grid {
  display: grid;
  grid-template-rows: 215px 1fr 150px;
  grid-template-columns: auto;
}
@media (min-width: 1300px) {
  .c-grid {
    grid-template-columns: 80% 20%;
  }
}

.c-text--brown {
  color: #3C2A10;
}

.c-text--white {
  color: #FFF;
}

.c-text--grey {
  color: #707070;
}

.c-button {
  color: #707070;
  border-style: none;
}

.c-textbox--brown {
  color: #3C2A10;
}

.c-contents {
  color: #3C2A10;
}
.c-contents__heading {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.p-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1300px) {
  .p-header {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4%;
    width: 100%;
  }
}

.p-logo {
  font-family: "Roboto";
  color: #707070;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 43px;
}
@media (min-width: 768px) {
  .p-logo {
    margin-top: 40px;
  }
}
@media (min-width: 1300px) {
  .p-logo {
    font-size: 64px;
    font-size: 4rem;
    margin-top: 66px;
    margin-bottom: 67px;
  }
}

.p-form {
  display: flex;
  margin-top: 40px;
  margin-left: 31px;
  margin-right: 26px;
  padding: 0;
}
@media (min-width: 768px) {
  .p-form {
    margin-top: 38px;
    align-items: center;
  }
}
@media (min-width: 1300px) {
  .p-form {
    margin-top: 86px;
    margin-bottom: 85px;
  }
}
.p-form__search {
  width: 216px;
  height: 46px;
  margin-right: 12px;
  border-radius: 10px;
  border: 1px solid #707070;
  background-color: #FFF;
  background-position: 5px center;
  background-repeat: no-repeat;
  padding-left: 40px;
  background-image: url(../../../images/mushimegane.svg);
}
@media (min-width: 768px) {
  .p-form__search {
    width: 396px;
    max-width: 396px;
    height: 46px;
    background-position: 12px center;
    margin-right: 14px;
  }
}
.p-form__submit {
  width: 90px;
  height: 46px;
  border-radius: 10px;
  font-family: "M+PLUS+1p";
  font-weight: bold;
  color: #707070;
  background-color: #DED8D3;
  border: 1px solid #707070;
  font-size: 16px;
  font-size: 1rem;
}
.p-form__submit:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media (min-width: 768px) {
  .p-form__submit {
    width: 136px;
    height: 46px;
  }
}

.p-menubutton {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  font-size: 1.25rem;
  margin-left: auto;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: inherit;
}
@media (min-width: 768px) {
  .p-menubutton {
    font-size: 34px;
    font-size: 2.125rem;
    top: 20px;
    right: 25px;
  }
}
@media (min-width: 1300px) {
  .p-menubutton {
    display: none;
  }
}

.p-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.p-mainvisual {
  position: relative;
  width: 100%;
  height: 285px;
}
@media (min-width: 1300px) {
  .p-mainvisual {
    height: 530px;
  }
}
.p-mainvisual__img {
  position: absolute;
  background-image: url(../../images/main1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .p-mainvisual__img {
    background-image: url(../../images/mainvisual-pc@2x.jpg);
  }
}
.p-mainvisual__heading {
  position: absolute;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  font-size: 2.25rem;
  color: #FFF;
  margin-top: 122px;
  margin-left: 25px;
}
@media (min-width: 768px) {
  .p-mainvisual__heading {
    margin-left: 86px;
  }
}
@media (min-width: 1300px) {
  .p-mainvisual__heading {
    font-size: 40px;
    font-size: 2.5rem;
    margin-top: 234px;
  }
}

.p-mainvisual {
  position: relative;
  width: 100%;
  height: 285px;
}
@media (min-width: 1300px) {
  .p-mainvisual {
    height: 239px;
  }
}
.p-mainvisual__img--archive {
  position: absolute;
  background-image: url(../../images/archive-sp.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}
@media (min-width: 768px) {
  .p-mainvisual__img--archive {
    background-image: url(../../images/page-title_arcive@2x.jpg);
  }
}
.p-mainvisual__heading--archive {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}
@media (min-width: 768px) {
  .p-mainvisual__heading--archive {
    flex-direction: row;
    gap: 19px;
  }
}
.p-mainvisual__heading--archive-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  font-size: 2.25rem;
  color: #FFF;
}
@media (min-width: 1300px) {
  .p-mainvisual__heading--archive-title {
    font-size: 40px;
    font-size: 2.5rem;
  }
}
.p-mainvisual__heading--archive-type {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  font-size: 1rem;
  color: #FFF;
  margin: auto 0;
}

.p-mainvisual--singlepage {
  position: relative;
  width: 100%;
  height: 225px;
}
@media (min-width: 768px) {
  .p-mainvisual--singlepage {
    height: 500px;
  }
}
.p-mainvisual--singlepage .p-mainvisual__img--single {
  position: absolute;
  background-image: url(../../../images/single-top.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.p-mainvisual--singlepage .p-mainvisual__img--page {
  position: absolute;
  background-image: url(../../../images/page-title_shop@2x.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.p-mainvisual--singlepage .p-mainvisual__heading--singlepage {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  font-size: 2.25rem;
  color: #FFF;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7%;
}

.p-contents {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  width: 100%;
}
@media (min-width: 768px) {
  .p-contents {
    height: auto;
    flex-direction: row;
    padding: 40px;
    gap: 41px;
  }
}
@media (min-width: 1300px) {
  .p-contents {
    padding: 120px;
    gap: 81px;
  }
}
.p-contents .p-content--takeout {
  background-image: url(../../images/front-takeout.jpg);
}
.p-contents .p-content--eatin {
  background-image: url(../../images/eatin.jpg);
}
.p-contents .p-content--takeout,
.p-contents .p-content--eatin {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 643px;
  height: auto;
  margin-bottom: 20px;
  width: 100%;
}
.p-contents .p-content {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.p-contents .p-content__heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 41px;
  font-size: 2.5625rem;
  color: #EAEAEA;
  margin-top: 13px;
  margin-left: 15px;
}
@media (min-width: 768px) {
  .p-contents .p-content__heading {
    font-size: 44px;
    font-size: 2.75rem;
    margin-top: 14px;
    margin-left: 11px;
  }
}
@media (min-width: 1300px) {
  .p-contents .p-content__heading {
    font-size: 80px;
    font-size: 5rem;
    margin-top: 24px;
    margin-left: 10px;
  }
}
.p-contents .p-content__heading::after {
  position: absolute;
  content: "";
  top: 80px;
  left: 15px;
  height: 4px;
  width: 34px;
  background-color: #FFF;
}
@media (min-width: 768px) {
  .p-contents .p-content__heading::after {
    width: 36px;
    top: 91px;
  }
}
@media (min-width: 1300px) {
  .p-contents .p-content__heading::after {
    width: 63px;
    top: 160px;
    left: 18px;
  }
}
.p-contents .p-content__text-block {
  margin-top: auto;
}

.p-contents--singlepage {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 34px 20px 69px 20px;
}
@media (min-width: 768px) {
  .p-contents--singlepage {
    padding: 60px 60px 150px 60px;
    gap: 60px;
  }
}
.p-contents--singlepage .p-contents__img--singlepage {
  width: 100%;
  position: relative;
}
.p-contents--singlepage .p-contents__img2--singlepage {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .p-contents--singlepage .p-contents__img2--singlepage {
    width: auto;
  }
}
.p-contents--singlepage .p-contents__imgbox {
  display: grid;
  gap: 20px;
}
@media (min-width: 768px) {
  .p-contents--singlepage .p-contents__imgbox {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1300px) {
  .p-contents--singlepage .p-contents__imgbox {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.p-contents--singlepage .p-contents__list-container {
  display: flex;
  flex-direction: column;
  gap: 57px;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.p-contents--singlepage .p-contents__list-container .p-contents__list-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 17px;
}
.p-contents--singlepage .p-contents__list-container .p-contents__list:nth-child(2) {
  margin-left: 18px;
}
.p-contents--singlepage .p-contents__code-box {
  background-color: #F5F5F5;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 50px 0 50px 50px;
}
.p-contents--singlepage .p-contents__table {
  border-collapse: collapse;
  border: 1px solid #000;
  text-align: left;
}
.p-contents--singlepage .p-contents__table .p-contents__th {
  border: 1px solid #000;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 30px 0 30px 30px;
}
.p-contents--singlepage .p-contents__table .p-contents__td {
  border: 1px solid #000;
  padding: 30px 0 30px 30px;
  width: 58%;
}
@media (min-width: 768px) {
  .p-contents--singlepage .p-contents__table .p-contents__td {
    width: 69%;
  }
}
.p-contents--singlepage .p-contents__btn {
  height: 81px;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
  border: 1px solid #707070;
  background-image: linear-gradient(to right, #F2EDE9, #DED8D3);
  border-radius: 20px;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .p-contents--singlepage .p-contents__btn {
    width: 51%;
    height: 104px;
  }
}
.p-contents--singlepage .p-contents__text {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.p-textbox {
  height: auto;
  width: auto;
  margin: 0 16px 16px 16px;
  background-color: #FFF;
  opacity: 0.7;
  padding: 16px;
}
.p-textbox__title {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  font-size: 1.375rem;
}
@media (min-width: 768px) {
  .p-textbox__title {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
.p-textbox__text {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 8px;
}

.p-textbox--archive {
  display: flex;
  flex-direction: column;
  margin: 32px 22px 19px 22px;
  padding: 0;
  gap: 25px;
}
@media (min-width: 768px) {
  .p-textbox--archive {
    margin: 39px 42px;
  }
}
@media (min-width: 1300px) {
  .p-textbox--archive {
    margin: 70px 100px;
  }
}
.p-textbox--archive .p-textbox__title--archive {
  font-size: 28px;
  font-size: 1.75rem;
}
@media (min-width: 768px) {
  .p-textbox--archive .p-textbox__title--archive {
    font-size: 36px;
    font-size: 2.25rem;
  }
}

.p-textbox--singlepage {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 768px) {
  .p-textbox--singlepage {
    gap: 55px;
  }
}

.p-card {
  display: grid;
  grid-template-rows: auto auto;
  padding: 0 5% 19px 5%;
}
@media (min-width: 768px) {
  .p-card {
    grid-template-columns: 50% 50%;
  }
}
.p-card__img {
  width: 100%;
  height: 100%;
}
.p-card__textbox {
  width: 100%;
  background-color: #3C2B1C;
  color: #FFF;
  padding: 32px 17px 43px 17px;
  position: relative;
}
@media (min-width: 768px) {
  .p-card__textbox {
    padding: 32px 59px 45px 35px;
  }
}
.p-card__type {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  font-size: 1.25rem;
}
.p-card__heading {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  font-size: 1rem;
  position: relative;
  margin-top: 21px;
}
.p-card__text {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-size: 1rem;
  margin: 7px 1px 0 1px;
}
.p-card__link {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 163px;
  height: 42px;
  background-color: #FFF;
  color: #707070;
  border-radius: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 11%;
}
@media (min-width: 1300px) {
  .p-card__link {
    width: 292px;
    height: 76px;
  }
}

.p-card--singlepage {
  display: grid;
  grid-template-columns: 46% 54%;
  gap: 10px;
}
.p-card--singlepage .p-card__img--singlepage {
  min-height: 90px;
}
.p-card--singlepage .p-card__text--singlepage {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.p-card--singlepage2 {
  display: grid;
  grid-template-columns: 54% 46%;
  gap: 10px;
}
.p-card--singlepage2 .p-card__img--singlepage {
  min-height: 90px;
  grid-column: 2/3;
}
.p-card--singlepage2 .p-card__text--singlepage {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
  grid-row: 1/2;
}

.p-pagination {
  align-items: center;
  margin: 43px 20px 32px 20px;
  color: #707070;
}
.p-pagination--mobile {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-size: 1rem;
  color: #707070;
}
@media (min-width: 768px) {
  .p-pagination--mobile {
    display: none;
  }
}
.p-pagination--desktop {
  display: none;
  align-items: center;
  gap: 0.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .p-pagination--desktop {
    display: flex;
    justify-content: center;
    gap: 17px;
    color: #707070;
  }
}
.p-pagination__page {
  border: 1px solid #707070;
  background-color: #FFF;
  padding: 5px 10px;
}
.p-pagination__page--1 {
  border: 1px solid #707070;
  background-color: #3C2A10;
  color: #FFF;
}

.p-location {
  position: relative;
}
.p-location__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.p-location__textbox {
  min-height: 691px;
}
.p-location__textbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.55) 60%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.3) 100%);
}
@media (min-width: 768px) {
  .p-location__textbox {
    min-height: 415px;
  }
  .p-location__textbox::before {
    content: "";
    background: rgba(0, 0, 0, 0.55);
  }
}
@media (min-width: 1300px) {
  .p-location__textbox {
    min-height: 649px;
  }
  .p-location__textbox::before {
    content: "";
    background: linear-gradient(to right, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.55) 61%, rgba(0, 0, 0, 0.3) 61%, rgba(0, 0, 0, 0.3) 100%);
  }
}
.p-location__textbox-title {
  position: relative;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  font-size: 1.875rem;
  color: #FFF;
  margin-top: 42px;
  margin-left: 42px;
}
.p-location__textbox-title::after {
  position: absolute;
  content: "";
  top: 50px;
  left: 0px;
  height: 2px;
  width: 75px;
  background-color: #FFF;
}
@media (min-width: 1300px) {
  .p-location__textbox-title {
    font-size: 36px;
    font-size: 2.25rem;
    margin-top: 86px;
    margin-left: 119px;
  }
  .p-location__textbox-title::after {
    position: absolute;
    content: "";
    top: 80px;
  }
}
.p-location__textbox-text {
  position: relative;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  font-size: 0.875rem;
  color: #FFF;
  padding: 32px 40px 47px 40px;
  line-height: 2.5;
}
@media (min-width: 768px) {
  .p-location__textbox-text {
    margin-top: 35px;
  }
}
@media (min-width: 1300px) {
  .p-location__textbox-text {
    padding: 32px 0 75px 119px;
    width: 45%;
  }
}

.p-sidebar {
  position: absolute;
  width: 100%;
  color: #707070;
}
.p-sidebar__btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 34px;
  font-size: 2.125rem;
  margin: 84px 0 90px 46px;
  cursor: default;
}
@media (min-width: 1300px) {
  .p-sidebar__btn {
    pointer-events: none;
  }
}
.p-sidebar__nav {
  margin: 0 0 0 46px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.p-sidebar__heading {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  font-size: 1.5rem;
  cursor: default;
}
.p-sidebar__menu {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0 0 20px;
}
.p-sidebar__title {
  opacity: 0;
}
@media (min-width: 1300px) {
  .p-sidebar__title {
    opacity: 1;
  }
}

.p-sidebar.is-active {
  color: #707070;
  background-color: #F2EDE9;
  height: 100vh;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  padding-bottom: 5rem;
}
.p-sidebar.is-active .p-sidebar__btn {
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  top: 1px;
  right: 1px;
  font-size: 0;
  margin: 0;
  cursor: pointer;
}
.p-sidebar.is-active .p-sidebar__btn::before, .p-sidebar.is-active .p-sidebar__btn::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 5px;
  height: 35px;
  background-color: #707070;
}
.p-sidebar.is-active .p-sidebar__btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.p-sidebar.is-active .p-sidebar__btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.p-sidebar.is-active .p-sidebar__nav {
  margin: 178px 0 0 46px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.p-sidebar.is-active .p-sidebar__heading {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  font-size: 1.5rem;
}
.p-sidebar.is-active .p-sidebar__menu {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0 0 20px;
}

.p-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-image: url(../../images/footerbg.jpg);
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
}
.p-footer__menu {
  position: absolute;
  display: flex;
  font-size: 18px;
  font-size: 1.125rem;
  top: 16px;
  gap: 10px;
}
@media (min-width: 768px) {
  .p-footer__menu {
    font-size: 20px;
    font-size: 1.25rem;
    top: 30px;
  }
}
@media (min-width: 1300px) {
  .p-footer__menu {
    top: 41px;
  }
}
.p-footer__menu-link--line {
  content: "";
  height: 25px;
  width: 2px;
  background-color: #FFF;
}
@media (min-width: 768px) {
  .p-footer__menu-link--line {
    height: 30px;
  }
}
.p-footer .p-footer__copy {
  position: absolute;
  font-size: 14px;
  font-size: 0.875rem;
  bottom: 16px;
}
@media (min-width: 768px) {
  .p-footer .p-footer__copy {
    bottom: 24px;
  }
}
@media (min-width: 1300px) {
  .p-footer .p-footer__copy {
    bottom: 27px;
  }
}

.p-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  z-index: 5;
}

.p-overlay.is-active {
  opacity: 1;
  pointer-events: auto;
}

.p-blockquote {
  background-color: #F5F5F5;
  padding: 30px 20px;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 768px) {
  .p-blockquote {
    padding: 50px;
  }
}
.p-blockquote__text {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .p-blockquote__text {
    margin-bottom: 60px;
  }
}
.p-blockquote__cite {
  color: #0000ee;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */