//project
//index

@use "p-header";
@use "p-logo";
@use "p-form";
@use "p-menubutton";
@use "p-main";
@use "p-mainvisual";
@use "p-contents";
@use "p-textbox";
@use "p-card";
@use "p-pagination";
@use "p-location";
@use "p-sidebar";
@use "p-footer";
@use "p-overlay";
@use "p-blockquote";