//project

@use "../../foundation/global/" as g;

.p-form {
    display: flex;
    margin-top: 40px;
    margin-left: 31px;
    margin-right: 26px;
    padding: 0;

    @include g.breakpoint(tablet) {
        margin-top: 38px;
        align-items: center;
    }

    @include g.breakpoint(pc) {
        margin-top: 86px;
        margin-bottom: 85px;
    }

    &__search {
        width: 216px;
        height: 46px;
        margin-right: 12px;
        border-radius: 10px;
        border: 1px solid g.$grey;
        background-color: g.$white;
        background-position: 5px center;
        background-repeat: no-repeat;
        padding-left: 40px;
        background-image: url(../../../images/mushimegane.svg);

        @include g.breakpoint(tablet) {
            width: 396px;
            max-width: 396px;
            height: 46px;
            background-position: 12px center;
            margin-right: 14px;
        }
        
    }

    &__submit {
        width: 90px;
        height: 46px;
        border-radius: 10px;
        font-family: "M+PLUS+1p";
        font-weight: bold;
        color: g.$grey;
        background-color: g.$searchbutton;
        border: 1px solid g.$grey;
        @include g.font-size(16);

         &:hover {
            opacity: 0.6;
            cursor: pointer;
        }

        @include g.breakpoint(tablet) {
            width: 136px;
            height: 46px;
        }

    }
}