//project
//pagination

@use "../../foundation/global/" as g;

.p-pagination {
    align-items: center;
    margin: 43px 20px 32px 20px;
    color: g.$grey;

    &--mobile {
        display: flex;
        justify-content: space-between;
        gap: 1em;
        @include g.font-family(MPlusRegular);
        @include g.font-size(16);
        color: g.$grey;

            @include g.breakpoint(tablet){
                display: none;
            }
    }

}

.wp-pagenavi {
        display: none;
        align-items: center;
        gap: 0.5em;
        @include g.font-family(RobotoBold);
        @include g.font-size(16);

         @include g.breakpoint(tablet) {
            display: flex;
            justify-content: center;
            gap: 17px;
            color: g.$grey;
            margin: 43px 20px 32px 20px;
         }

         .pages {
            border: none;
            background-color: g.$bglightorange;
         }

         .previouspostslink, .nextpostslink {
            border: none;
            background-color: g.$bglightorange;
         }
    }

    .wp-pagenavi a, .wp-pagenavi span {
        border: 1px solid g.$grey;
        background-color: g.$white;
        padding: 5px 10px;
    }

    .wp-pagenavi span.current {
        border: 1px solid g.$grey;
        background-color: g.$brown;
        color: g.$white;

    }

